<div class="container">
  <div class="nav nav-tabs">
   <li><%= link_to "New Workout", new_workout_url, class: 'btn' %></li>
   <li><%= link_to "Progress", user_path(session[:user_id]), remote: true %></li>
   <li><%= link_to "Log out", "/logout", class: 'btn' %></li>
  </div>
  <div class="container" style="padding-top: 25px">
    <% if @user.workouts %>
      <% @user.workouts.each do |workout| %>
	<div class="row">
	  <div class="jumbotron">
	    <div><%= workout.exercise %>: <%= workout.total_reps %></div>
	    <div>Date: <%= workout.created_at.strftime("%d %b. %Y at %I:%M %P") %></div>
	  </div>
	</div>
      <% end %>
    <% else %>
      <h1>No workouts</h1>
    <% end %>
  </div>
</div>
