<h1>Sign in</h1>

<%= form_for @user do |f| %>
  <div class="">
    <%= f.label :email, "Email Address" %>
    <%= f.text_field :email %>
  </div>

  <div class="">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="">
    <%= f.submit "Sign in" %>
  </div>
<% end %>
