<h1>Sign in</h1>

<%= form_tag sessions_url do %>

  <%= label_tag :email, "Email address" %>
  <%= text_field_tag :email, params[:email], size: 60 %>
  <br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag "Sign in" %>

<% end %>
