<h1>Progress</h1>

<div class="jumbotron">
  <p>Total minutes worked: <span class="label label-default"><%= @user.minutes_worked %></span></p>
  <p>Pushup total: <span class="label label-primary"><%= @user.pushups %></span>, per minute:  <span class="label label-danger"><%= @user.pushups_per_minute %></span></p>
  <p>Squats total: <span class="label label-primary"><%= @user.squats %></span>, per minute:  <span class="label label-danger"><%= @user.squats_per_minute %></span></p>
  <p>Burpees total: <span class="label label-primary"><%= @user.burpees %></span>, per minute:  <span class="label label-danger"><%= @user.burpees_per_minute %></span></p>
  <p>Jumprope total: <span class="label label-primary"><%= @user.jumprope_revolutions %></span>, per minute:  <span class="label label-danger"><%= @user.jumprope_revolutions_per_minute %></span></p>
  <p>Dips total: <span class="label label-primary"><%= @user.dips %></span>, per minute:  <span class="label label-danger"><%= @user.dips_per_minute %></span></p>
  <p>Pullups total: <span class="label label-primary"><%= @user.pullups %></span>, per minute:  <span class="label label-danger"><%= @user.pullups_per_minute %></span></p>
</div>


<%= link_to "Go back", workouts_path %>
