<h1>Progress</h1>


<p>Pushups: <%= @user.pushups %></p>
<p>Squats: <%= @user.squats %></p>
<p>Burpees:<%= @user.burpees %></p>
<p>Jumprope revolutions:<%= @user.jumprope_revolutions %></p>
<p>Dips: <%= @user.dips %></p>
<p>Pullups: <%= @user.pullups %></p>
