<h1>Progress</h1>


<p>Total minutes worked: <%= @user.minutes_worked %></p>
<p>Pushups: <%= @user.pushups %>, per minute:  <%= @user.pushups_per_minute %></p>
<p>Squats: <%= @user.squats %>, per minute:  <%= @user.squats_per_minute %></p>
<p>Burpees: <%= @user.burpees %>, per minute:  <%= @user.burpees_per_minute %></p>
<p>Jumprope revolutions:<%= @user.jumprope_revolutions %>, per minute:  <%= @user.jumprope_revolutions_per_minute %></p>
<p>Dips: <%= @user.dips %>, per minute:  <%= @user.dips_per_minute %></p>
<p>Pullups: <%= @user.pullups %>, per minute:  <%= @user.pullups_per_minute %></p>
